<div class="container" id="container">
    <header>What's up, today, {{getUserName()}}!</header>
    <h6>Favorite quote : <em>{{getFavQuote()}}</em></h6>
    <div class="line"></div>


  <div *ngIf="currentUrl === 'todo'" class="todos">
    <h6>TODAY'S TASKS</h6>
    <section class="tasks" id="tasks" *ngFor="let todo of list" >
        <app-todo [todo]="todo"></app-todo>
    </section>
  </div>


    <div class="todos" *ngIf="currentUrl === 'done'">
        <h6>COMPLETED TASKS</h6>
        <section class="tasks" id="tasks" *ngFor="let todo of done;" >
         <app-done [todo]="todo"></app-done>
        </section>
    </div>

    <div *ngIf="currentUrl === 'favorites'" class="todos">
      <h6>FAVORITES TASKS</h6>
      <section class="tasks" id="tasks" *ngFor="let todo of favorites" >
          <app-favorite [todo]="todo"></app-favorite>
      </section>
    </div>

    <div *ngIf="currentUrl === 'deleted'" class="todos">
      <h6>DELETED TASKS</h6>
      <section class="tasks" id="tasks" *ngFor="let todo of deleted" >
          <app-deleted [todo]="todo"></app-deleted>
      </section>
    </div>

    <div class="btns" *ngIf="currentUrl === 'todo'">
        <input
            [(ngModel)] ="title"
            type="text"
            id="newtask"
            placeholder="Enter your new task"
            required
        />
        <div id="btn" (click)="createTask()"><i class="bi bi-plus"></i></div>
    </div>
  </div>
