.container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #5382a6;
    padding: 1rem;
    width: 600px;
    border-radius: 1.562rem;
  }
  .completesection {
    display: flex;
    flex-direction: column;
    /* display: none; */
  }
  header {
    margin-top: 2rem;
    margin-left: 0.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    font-size: x-large;
  }
  .line {
    margin-left: 0.5rem;
    margin-top: 0.8rem;
    width: 93%;
    height: 2px;
    background-color: #00b4d8;
    border: none;
    border-radius: 60%;
  }
  .completesection > h6,
  .container > h6 {
    margin-left: 0.5rem;
    color: #f8f8ff;
  }
  
  .tasks {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
  .taskCont{
   width:100%;
  }

  #completedtasks {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
  
  .task {
    background-color: #041955;
    border-radius: 1rem;
    width: 95%;
    padding: 0.6rem;
    padding-left: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.6rem;
  }
  
  #checkbox {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #041955;
    border: 1.6px solid #00b4d8;
    margin-right: 0.4rem;
    text-align: center;
    padding: 0.2rem;
    font-size: small;
    cursor: pointer;
  }
  
  #checkbox > .correct {
    display: none;
  }
  .checked > #checkbox > .correct {
    display: block;
  }
  #text {
    width: 63%;
    color: #f8f8ff;
    font-size: 20px;
    margin-right: 2rem;
  }
  
  .del-edit {
    width: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #del {
    font-size: larger;
    cursor:pointer;
  }
  .checked > #checkbox {
    background-color: #5382a6;
    color: #f8f8ff;
    border: none;
  }
  .checked > #text {
    text-decoration: line-through;
    text-decoration-thickness: 0.2px;
  }
  
  .btns {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.4rem;
    padding-left: 1.3rem;
  }
  
  #btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 42px;
    background-color: #ff7096;
    color: #f8f8ff;
    cursor: pointer;
  }
  
  #newtask {
    width: 70%;
    padding: 0.4rem;
    border: none;
    border-radius: 0.3rem;
  }
  #newtask:focus {
    outline: none;
  }
  
  @media screen and (max-width: 600px) {
    body {
        justify-content: center;
        align-items: center;
    }
    .container {
        margin-top: 20%;
        width: 80%;
    }
    .task {
        width: 95%;
        padding-left: 0.2rem;
        padding: right 0.2rem;
    }
    #btn {
        font-size: medium;
    }
  
    #newtask {
        width: 65%;
    }
  
    #checkbox {
        margin-right: 0.2rem;
    }
    #text {
        width: 33%;
        color: #f8f8ff;
        margin-right: 0.1rem;
    }
  
    .del-edit {
        width: 14%;
    }
  }
  